Source: tomcat-native
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Damien Raude-Morvan <drazzib@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 default-jdk,
 dpkg-dev (>= 1.16.1~),
 libapr1-dev,
 libssl-dev
Standards-Version: 4.6.2
Vcs-Git: https://salsa.debian.org/java-team/tomcat-native.git
Vcs-Browser: https://salsa.debian.org/java-team/tomcat-native
Homepage: http://tomcat.apache.org/native-doc/

Package: libtcnative-1
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Multi-Arch: same
Description: Tomcat native library using the Apache Portable Runtime
 Tomcat can use the Apache Portable Runtime to provide superior scalability,
 performance, and better integration with native server technologies.
 The Apache Portable Runtime is a highly portable library that is at the
 heart of Apache HTTP Server 2.x. APR has many uses, including access to
 advanced IO functionality (such as sendfile, epoll and OpenSSL), OS level
 functionality (random number generation, system status, etc), and native
 process handling (shared memory, NT pipes and Unix sockets).
 .
 These features allows making Tomcat a general purpose webserver, will
 enable much better integration with other native web technologies, and
 overall make Java much more viable as a full fledged webserver platform
 rather than simply a backend focused technology.
